# APP
APP_PORT=4200
APP_HOST=localhost
ALLOWED_ORIGIN=http://localhost:3000
FRONTEND_ORIGIN=http://localhost:3000

# ENV
NODE_ENV=development

# PG
POSTGRES_USER=user
POSTGRES_PASSWORD=123456
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=db

# REDIS
REDIS_PORT=6379
REDIS_PASSWORD=password
REDIS_HOST=localhost
